:root{
    --cora: #FF0000;
    --corb: #000000;
    --corc: #FFFFFF;
    --cord: #D2691E;
    --core: #696969;
    --corf: #D3D3D3;
    --corg: #FF6347;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--core);
}
.logo{
    background-color: var(--core);
    padding: 20px;
    text-align: center;
    color: var(--cora);
}
.teste{
   width: 100%;
   height: auto;
   margin-top: 0;
   margin-bottom: 0;
   min-height: 400px;
   padding-top: 100px;
   text-align: center;
   font-size: 1.5em;
   font-style: italic;
   font-family: 'Courier New', Courier, monospace;
   color: var(--corb);
   background-image: url(imagens/pzt.jpg); 
   background-position: 50% 50%;
   background-size: cover;
   overflow: hidden;
}
article {
display: flex;
flex-wrap: wrap;
background-color: var(--corb);
}
h3{
    text-align: center;
    padding-bottom: 10px;
    font-size: 1.4em;
    font-style: italic;
    color: var(--cora);
}
.i-container{
    background-color: var(--corc);
    height: 500px;
    margin: 10px 20px 10px;
}
.i-queijo {
   width: 300px;
   background-size: cover;
   margin: 10px 30px 10px;
}
.uqueijo{  
    font-size: 1.0em;
    font-style: italic;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.apreco{
    margin: 100px  140px 0;
    color: var(--corb);
    background-color: var(--cord);
    font-size: 1.1em;
    border-radius: 5px;
}
.o-grell {
    width: 300px;
    background-size: cover;
    margin: 20px 30px 0;
 }
 .u-fran{
    width: 300px;
    background-size: cover;
    margin: 20px 30px 0;
 }
 .a-mussar{
    width: 300px;
    background-size: cover;
    margin: 20px 30px 0;
 }
 .e-veget{
    width: 300px;
    background-size: cover;
    margin: 20px 30px 0;
 }
 .a-container{
    background-color: var(--corc);
    height: 500px;
    margin: 10px 20px 10px;
 }
.e-container{
    background-color: var(--corc);
    height: 500px;
    margin: 10px 20px 10px;
}
.o-container{
    background-color: var(--corc);
    height: 500px;
    margin: 10px 20px 10px;
}
.u-container{
    background-color: var(--corc);
    height: 500px;
    margin: 10px 20px 10px;
}
.ogrell{
font-size: 1.2em;
font-style: italic;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
}
.ufran{
font-size: 1.2em;
font-style: italic;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
}
.amussa{
font-size: 1.2em;
font-style: italic;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
}
.eveget{
font-size: 1.2em;
font-style: italic;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
}
.epreco{
    margin: 100px  140px 0;
    color: var(--corb);
    background-color: var(--cord);
    font-size: 1.1em;
    border-radius: 5px;
}
.ipreco{
    margin: 100px  140px 0;
    color: var(--corb);
    background-color: var(--cord);
    font-size: 1.1em;
    border-radius: 5px;
}
.opreco{
    margin: 70px  140px 0;
    color: var(--corb);
    background-color: var(--cord);
    font-size: 1.1em;
    border-radius: 5px;
}
.upreco{
    display: block;
    margin: 70px 140px 0;
    color: var(--corb);
    background-color: var(--cord);
    font-size: 1.1em;
    border-radius: 5px;
}
.aperitivos{
    width: 100%;
    background: linear-gradient( 175deg, #D2691E,#f5bb4f);
    color: var(--corc);
    height: 150px;
    font-style: italic;
    text-align: center;
    opacity: 0;
    transition: opacity 1s linear;
    font-size: 1.4em;
}
main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--corg);
}
.a{
    width: 300px;
}
.b{
    width: 300px;
}
.c{
    width: 300px;
}
.d{
    width: 300px;
}
.aperitivos-off{
    opacity: 1;
}

.main-container{
    background-color: var(--corc);
    padding: 10px 20px 70px;
    margin: 10px 20px 10px;
}
.main-container1{
    background-color: var(--corc);
    padding: 10px 20px 70px;
    margin: 10px 20px 10px;
}
.main-container2{
    background-color: var(--corc);
    padding: 10px 20px 70px;
    margin: 10px 20px 10px;
}
.main-container3{
    background-color: var(--corc);
    padding: 10px 20px 70px;
    margin: 10px 20px 10px;
}
h2{
    text-align: center;
    font-size: 2.0em;
    color: var(--cord);
}
